@model WepAppMVC1.Models.FeverCheck
@{
    ViewBag.Title = "Celsius";
    ViewBag.Title = "Fahrenheit";
}

<h2>Celsius</h2>


@if (ViewBag.FeverCheck !=null)
{
 <h3>@ViewBag.FeverCheck.Text</h3>

}




<form 
     action="@Url.Action("Celsius","Home")" method="post" oninput="x.value=parseInt(FeverCelsius.value)">
    <input type="range" name="FeverCelsius" value="37"   placeholder="What is your temperature" />
    (
    <output name="x" for="FeverCelsius" >37</output>°)<br>
    <input type="radio" name="scale" value="Celsius" checked> Celsius
    <input type="radio" name="scale" value="Fahrenheit"> Fahrenheit<br>
    <input type="submit" value="Check" />
 
</form>


