@using WepAppMVC1.Models

@{
    ViewBag.Title = "Index";
}

<h2> Ajax View Index</h2>
<div class="row">

    <div class="col-md-6" id="indexlist">
        @foreach (var item in People.people)
        {
            @Html.Partial("_AjaxPerson", item)
        }
        <span id="BottomOfList"></span>



<div class="col-md-6">
    @Ajax.ActionLink("Create", "CreatePeople", new { People.people},
                         new AjaxOptions
                         {

                             InsertionMode = InsertionMode.ReplaceWith,
                             UpdateTargetId = $"People" + People.people

                         }, new { @class = "btn btn-danger" })
</div>
    </div>

</div>
@*///////////////////////////////////////////////////////////////////////////////////////////////*@
